# Build directories
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt

# Compiled objects and binaries
*.o
*.a
*.so
*.exe
*.out
*.dSYM/      # macOS debug folders

# Editor/IDE settings
*.swp
.vscode/
.idea/

# Local documents
Relazione.tex
